<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="mapping"     default="karto"/>
  <arg name="scan_topic"  default="rgbd_scan"/>
  <arg name="laser_model" default="false"/>

  <!-- SLAM -->
  <include file="$(find ari_2dnav)/launch/mapping.launch">
    <arg name="mapping"     value="$(arg mapping)"/>
    <arg name="scan"        value="$(arg scan_topic)"/>
    <arg name="laser_model" value="$(arg laser_model)"/>
  </include>

</launch>
